body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

img {
  width: 100%;
}

header {
  background-color: #212529;
  position: fixed;
  width: 100%;
  height: 8%;
  z-index: 1;
}
header .imgbox {
  position: relative;
  top: 20px;
}
header .imgbox img {
  width: 177px;
}
header ul {
  display: flex;
  float: right;
}
header ul li {
  padding: 0 20px;
}
header ul li a {
  font-size: 20px;
}
header ul li a:hover {
  color: #fdd036;
}
@media screen and (max-width: 1440px) {
  header {
    background-color: #212529;
    position: fixed;
    width: 100%;
    height: 9%;
    z-index: 1;
  }
}
@media screen and (max-width: 768px) {
  header .imgbox {
    position: relative;
    top: 31px;
  }
  header .imgbox img {
    width: 181px;
  }
  header li {
    display: none;
  }
  header .box {
    border: 1px solid #4f5963;
    width: 106px;
    height: 49px;
    border-radius: 4px;
    position: relative;
    bottom: 11px;
    left: 126px;
    display: flex;
    padding: 12px 0 0 13px;
  }
  header .box h3 {
    font-size: 20px;
    color: #a0a2a4;
    font-weight: 700;
  }
  header .box .icon {
    color: #a0a2a4;
    padding: 0 0 0 5px;
  }
}
@media screen and (max-width: 425px) {
  header .imgbox {
    position: relative;
    top: 57px;
    left: 26px;
  }
  header .imgbox img {
    width: 377px;
  }
  header li {
    display: none;
  }
  header .box {
    border: 1px solid #4f5963;
    width: 173px;
    height: 87px;
    border-radius: 4px;
    position: relative;
    bottom: 29px;
    display: flex;
    padding: 21px 0 0 16px;
    margin-right: 141px;
  }
  header .box h3 {
    font-size: 40px;
    color: #a0a2a4;
    font-weight: 700;
  }
  header .box .icon {
    color: #a0a2a4;
    padding: 0 0 0 17px;
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  header {
    background-color: #212529;
    position: fixed;
    width: 100%;
    height: 7%;
    z-index: 1;
  }
  header .imgbox {
    position: relative;
    top: 72px;
    left: 104px;
  }
  header .imgbox img {
    width: 428px;
  }
  header li {
    display: none;
  }
  header .box {
    border: 1px solid #a0a2a4;
    width: 165px;
    height: 108px;
    border-radius: 4px;
    position: relative;
    bottom: 12px;
    right: 151px;
    display: flex;
    padding: 30px 0 0 9px;
  }
  header .box h3 {
    font-size: 35px;
    color: #a0a2a4;
    font-weight: 700;
  }
  header .box .icon {
    color: #a0a2a4;
    padding: 0 0 0 22px;
    font-size: 40px;
  }
}

#welcome {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
}
#welcome .textbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 266px 0 0;
}
#welcome .textbox h2 {
  font-size: 40px;
  color: #fbfbfb;
}
#welcome .textbox h1 {
  font-size: 100px;
  color: #fbfbfb;
  font-weight: 700;
  padding: 17px 0;
}
#welcome .textbox .btn {
  padding: 18px 53px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #ffc800;
  font-weight: 700;
  margin: 76px 0 0;
}
@media screen and (max-width: 1440px) {
  #welcome {
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  #welcome {
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 1043px;
  }
}

#services {
  padding: 50px 0;
}
#services h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 16px;
}
#services h3 {
  font-size: 18px;
  color: #8b9299;
  font-weight: 400;
  padding: 19px 0 44px;
  line-height: 1.4;
}
#services h2 {
  font-size: 25px;
  margin: 20px 0 0;
  font-weight: 700;
}
#services .icon {
  background-color: #ffc800;
  border-radius: 341px;
  margin: 16px 144px;
  padding: 27px 21px;
}
#services .icon i {
  font-size: 70px;
  color: white;
}
@media screen and (max-width: 1024px) {
  #services .icon {
    background-color: #ffc800;
    border-radius: 341px;
    margin: 19px 82px;
    padding: 27px 21px;
  }
  #services .icon i {
    font-size: 70px;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  #services {
    position: relative;
    left: 134px;
  }
  #services .icon {
    background-color: #ffc800;
    border-radius: 341px;
    margin: 19px 43px;
    padding: 27px 21px;
  }
  #services .icon i {
    font-size: 70px;
    color: white;
  }
}

#portfolio {
  padding: 50px 0;
  background-color: #f8f9fa;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 40px;
}
#portfolio h3 {
  font-weight: 300;
  font-size: 20px;
  color: #6c757d;
  margin: 8px 0 58px;
  line-height: 1.4;
}
#portfolio h2 {
  font-weight: 700;
  font-size: 25px;
  padding: 35px 0 0;
}
#portfolio h4 {
  font-weight: 300;
  font-size: 20px;
  color: #6c757d;
  margin: 9px 0 43px;
}
#portfolio .box {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
}
#portfolio .box .portfoliobox {
  position: absolute;
  width: 100%;
  height: 78%;
  transition: 0.5s;
  opacity: 0;
  background-color: #e6b400;
}
#portfolio .box .portfoliobox:hover {
  opacity: 1;
}
#portfolio .box .portfoliobox .icon {
  font-size: 50px;
  position: absolute;
  top: 48%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}
#portfolio .box .portfoliobox .icon i {
  margin-top: -12px;
}

#about {
  padding: 128px 0;
}
#about h1 {
  font-size: 50px;
  font-weight: 700;
}
#about h3 {
  color: #6e7b89;
  font-size: 20px;
  padding: 11px 0 58px;
}
#about h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 0 94px;
  line-height: 1.4;
}
#about p {
  color: #6e7b89;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  right: -158px;
  top: -77px;
  margin: 78px 238px 0 0;
  z-index: -1;
}
#about h4 {
  font-size: 30px;
  font-weight: 700;
  padding: 0 162px;
  line-height: 1.4;
}
#about .imgbox {
  margin: 20px 0;
}
#about .imgbox img {
  width: 154px;
  height: 151px;
  border-radius: 85px;
  border: 7px solid #e9ecef;
  position: absolute;
  left: 884px;
  z-index: -1;
}
#about .imgboxtwo {
  margin: 20px 0;
}
#about .imgboxtwo img {
  width: 154px;
  height: 151px;
  border-radius: 85px;
  border: 7px solid #e9ecef;
  position: absolute;
  left: 884px;
  z-index: -1;
}
#about .minibox {
  background-color: #ffc800;
  width: 154px;
  height: 151px;
  border-radius: 85px;
  border: 7px solid #e9ecef;
  position: relative;
  left: 571px;
  z-index: -1;
}
#about .minibox h5 {
  color: white;
  font-size: 23px;
  padding: 0 29px 0 38px;
  font-weight: 700;
}

#team .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#team .textbox h3 {
  color: #6e7b89;
  font-size: 20px;
  padding: 11px 0 58px;
}
#team .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#team .imgbox {
  margin: 35px 0;
  display: flex;
  justify-content: center;
}
#team .imgbox img {
  width: 221px;
  height: 215px;
  border-radius: 120px;
  border: 7px solid #e9ecef;
}
#team ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#team ul li {
  margin: -29px 10px 5px;
  border-radius: 50%;
  background-color: #000000;
  padding: 20px;
  width: 10px;
  height: 10px;
}
#team ul li .icon {
  margin: -7px;
  color: white;
}
#team h6 {
  color: #6e7b89;
  font-size: 20px;
  margin: 45px 205px;
}

#microsoft .imgbox {
  margin: 76px 43px;
}
#microsoft .imgbox img {
  width: 176px;
  margin: 0 68px;
}

#contact {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
  background-color: #212529;
  height: 771px;
  width: 2061px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 9px;
  right: 54px;
  z-index: -1;
}
#contact .textbox h1 {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
  padding: 150px 0 0;
}
#contact .textbox h3 {
  color: #6e7b89;
  font-size: 20px;
  padding: 11px 0 58px;
}
#contact .add {
  display: flex;
  flex-direction: column;
}
#contact .add input {
  margin: 15px 188px;
  padding: 21px 22px;
  font-size: 20px;
  color: #ced4da;
  font-weight: 700;
  position: relative;
  left: 172px;
  top: -12px;
  z-index: -1;
}
#contact input {
  padding: 122px 226px;
  font-size: 20px;
  color: #ced4da;
  font-weight: 700;
}
#contact .btn {
  padding: 18px 53px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #ffc800;
  font-weight: 700;
  margin: 76px 0 0;
  opacity: 0.5;
}
#contact .btn h2 {
  color: white;
}

footer {
  padding: 40px 0;
}
footer h1 {
  font-size: 17px;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul li {
  margin: -7px 10px 5px;
  border-radius: 50%;
  background-color: #000000;
  padding: 20px;
  width: 10px;
  height: 10px;
}
footer ul li .icon {
  margin: -7px;
  color: white;
}
footer h2 {
  font-size: 17px;
  padding: 0 36px 0 86px;
}
footer h3 {
  font-size: 17px;
}/*# sourceMappingURL=style.css.map */